################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Chapter 07 Practice/.vs/Chapter 07 Practice/v16/Browse.VC.opendb
/Chapter 05 Practice/.vs/Chapter 05 Practice/v16/Browse.VC.opendb
